<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyA8YVXPtKCgQifTHeAHKY2j53AGs2Htsz0</string>
	<key>GCM_SENDER_ID</key>
	<string>321425575762</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>the.bloodQ.app.BloodQ</string>
	<key>PROJECT_ID</key>
	<string>bloodq-updated</string>
	<key>STORAGE_BUCKET</key>
	<string>bloodq-updated.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:321425575762:ios:840f0a698a0e1b1872748b</string>
</dict>
</plist>